#gameBoard{
    -fx-background-image: url("../images/monopoly-board-690.png");
    -fx-background-position:center;
    -fx-border-color: #ddd;
    -fx-border-width:10px;
}
#table{
    -fx-background-image: url("../images/perstorp.png");
}
.street{
    -fx-background-color:transparent;
}
.street:hover{
    -fx-background-color: rgba(255, 255, 255, .5); // transparent white
}

#dogMoneyBox{
    -fx-background-image: url("../images/dog-money.jpg");
    -fx-background-position:left;
    -fx-background-repeat: no-repeat;
             }
#catMoneyBox{
    -fx-background-image: url("../images/cat-money.jpg");
    -fx-background-position:left;
    -fx-background-repeat: no-repeat;
}
#carMoneyBox{
    -fx-background-image: url("../images/car-money.jpg");
    -fx-background-position:left;
    -fx-background-repeat: no-repeat;
}
#boatMoneyBox{
    -fx-background-image: url("../images/boat-money.jpg");
    -fx-background-position:left;
    -fx-background-repeat: no-repeat;
}

#dogMoney, #catMoney, #carMoney, #boatMoney{
    -fx-font-size:20;
    -fx-background-color:#eee;
    -fx-border-color:#888;
    -fx-padding:10px;
    -fx-border-radius: 5;
      -fx-background-radius: 5;
}

#card{
    -fx-background-color:white;
}
